<center><h1><em>Volunteer Teams and Roles</em></h1></center>

<div class="row">
	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
		<h1 class="dash_heading">Current Teams</h1>
	</div>
	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
		<%= link_to new_team_path do %>
			<button type="button" class="dash_button btn btn-large btn-primary">Create New Team</button>
		<% end %>
	</div>	
	<% @teams.each do |team| %>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h2><%= link_to team.name, edit_team_path(team) %></h2>
			<% team.users.each do |user| %>
				<div class="dash_names"><%= user.name %></div>
			<% end %>
		</div>
	<% end %> 
</div>

<hr class="divider">

<div class="row">
	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
		<h1 class="dash_heading">Current Roles</h1>
	</div>
	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
		<%= link_to new_role_path do %>
			<button type="button" class="dash_button btn btn-large btn-primary">Create New Role</button>
		<% end %>
	</div>
	<% @roles.each do |role| %>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<h2><%= link_to role.name, edit_role_path(role) %></h2>
			<div class="color_line" style="background-color: <%=role.color%>;"></div>
			<% role.users.each do |user| %>
				<div class="dash_names"><%= user.name %></div>
			<% end %>
		</div>
	<% end %> 
</div>

<hr class="divider">

<% @users.each do |user| %>
	<%= form_for user do |f| %>
		<div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
			<h3><%= user.name %></h3>
			<div class="form-group">
				<%= f.label "Role:" %>
				<%= f.collection_select :role_id, Role.all, :id, :name, {}, {class: "form-control"} %>
			</div>
			<div class="form-group">
				<%= f.label "Team:" %>
				<%= f.collection_select :team_id, Team.all, :id, :name, {}, {class: "form-control"} %>
			</div>
			<%= f.hidden_field :user_id, value: user.id %>
			<div class="actions">
			<%= f.submit "Update" %> 
			</div>
		</div>
	<% end %>
<% end %>	

