<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="color_title">Color</div>
  <div class="field">
    <%= f.radio_button :color, "#59BA53", :id=>"green_role"%>
    <label for="green_role" class="green_box"></label>
    <%= f.radio_button :color, "#F8B0C8", :id=>"pink_role" %>
    <label for="pink_role" class="pink_box"></label>
    <%= f.radio_button :color, "#9FE1E7", :id=>"light_blue_role" %>
    <label for="light_blue_role" class="light_blue_box"></label>
    <%= f.radio_button :color, "#FCF0AD", :id=>"yellow_role" %>
    <label for="yellow_role" class="yellow_box"></label>
    <%= f.radio_button :color, "#9FC6E7", :id=>"blue_gray_role" %>
    <label for="blue_gray_role" class="blue_gray_box"></label>
    <%= f.radio_button :color, "#4986E7", :id=>"blue_role" %>
    <label for="blue_role" class="blue_box"></label>
    <%= f.radio_button :color, "#9A9CFF", :id=>"purple_role" %>
    <label for="purple_role" class="purple_box"></label>
    <%= f.radio_button :color, "#FFAD46", :id=>"orange_role" %>
    <label for="orange_role" class="orange_box"></label>
    <%= f.radio_button :color, "#D06B64", :id=>"red_role" %>
    <label for="red_role" class="red_box"></label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
